*__pycache__/
.idea
.git
*.ipynb_checkpoints
*.x
theories/feynman/results/
logs/
*.log
config.py
theories/feynman/feinman_stdout.txt
theories/feynman/brute_constant.dat
theories/feynman/bruteprefactor.txt
theories/feynman/data/001.a
theories/feynman/mystery.dat
theories/feynman/results.dat
